body {
  background: url("/css_secrets/img/tessalated_06.jpg") repeat;
}

div {
  padding: 1em 1em;
  font-size: 24px;
  color: deeppink;
  text-shadow: 0.05em 0em 0 #000;
}

.basic-linear-gradient-01 {
  background: linear-gradient(#6cf, #024);
}

.basic-linear-gradient-02 {
  background: linear-gradient(#6cf 20%, #024 80%);
}

.basic-linear-gradient-03 {
  background: linear-gradient(#6cf 50%, #024 50%);
}

.basic-linear-gradient-04 {
  background: linear-gradient(#6cf 50%, #024 50%);
  background-size: 100% 30px;
}

.basic-linear-gradient-05 {
  background: linear-gradient(#6cf 20%, #024 0);
  background-size: 100% 30px;
}
