.cool-font {
  font: 1.5em "Liberation Mono";
  text-shadow: 0.05em 0em 0 #000;
  color: white;
}

.blue-background {
  background: #24b;
}

.dark-blue-background {
  background: #013;
}

.purple-background {
  background: #63b;
}

.basic-div {
  margin-bottom: 1em;
  border: 5px solid black;
  border-radius: 0.3em;
  padding: 0.2em 1em;
}

.gingham-pattern {
  background-image: linear-gradient(90deg,
                      rgba(0,0,0,0.2) 50%, transparent 0),
                    linear-gradient(0deg,
                      rgba(0,0,0,0.2) 50%, transparent 0);
  background-size: 50px 50px;
}

.grid-pattern {
  background-image:
    linear-gradient(#aaa 1px, transparent 0),
    linear-gradient(90deg, #aaa 1px, transparent 0);
  background-size: 30px 30px;
}

.blueprint-pattern {
  background-image:
    linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(rgba(255,255,255,0.3) 1px, transparent 0),
    linear-gradient(90deg, rgba(255,255,255,0.3) 1px, transparent 0);
  background-size:
    75px 75px, 75px 75px,
    15px 15px, 15px 15px;

}

.grid-of-dots {
  background-image: radial-gradient(rgba(255,255,255,0.1) 40%, transparent 0);
  background-size: 30px 30px;
}
